# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Local virtual environment
.venv/
venv/
env/

# Secrets
*.env

# Lambda build artifacts
lambda_package/
*.zip

# Log files
*.log

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
